# aisstream.io
AISSTREAMIO_API_KEY=your-aisstreamio-api-key

# docker-compose.yml
CLICKHOUSE_USER=user
CLICKHOUSE_PASSWORD=password

POSTGRES_USER=user
POSTGRES_PASSWORD=password

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

GRAFANA_USER=user
GRAFANA_PASSWORD=password
